@using EntityLayer.Concrete
@model MainModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<body class="template-color-1 font-family-01">

    <div class="main-wrapper">


        <!-- Slider -->
        @await Html.PartialAsync("SliderPartial")
        <!-- Slider -->

        <!-- Trend -->
        @await Html.PartialAsync("TrendPartial")
        <!-- Trend -->

        <!-- Seriess -->
        @await Html.PartialAsync("SeriessPartial")
        <!-- Seriess -->

        <!-- Brand -->
        @await Html.PartialAsync("BrandPartial")
        <!-- Brand -->

        <!-- Cert -->
        @await Html.PartialAsync("CertPartial")
        <!-- Cert -->

        <!-- Scroll To Top Start -->
        <a class="scroll-to-top" href=""><i class="icon-arrow-up"></i></a>
        <!-- Scroll To Top End -->

    </div>
</body>

</html>
