@using EntityLayer.Concrete
@model MainModel
<!-- Begin Slider Area -->
<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="slider-area">

    <div class="quicky-element-carousel home-slider arrow-style" data-slick-options='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": true,
                "dots": false,
                "autoplay" : true,
                "fade" : true,
                "autoplaySpeed" : 7000,
                "pauseOnHover" : false,
                "pauseOnFocus" : false
                }' data-slick-responsive='[
                {"breakpoint":768, "settings": {
                "slidesToShow": 1
                }},
                {"breakpoint":575, "settings": {
                "slidesToShow": 1
                }}
            ]'>
        @foreach (var item in Model.Banners)
        {
            <div class="slide-item animation-style-01 bg-1 " style="min-height: 0px">
                @*<div class="slider-progress"></div>*@
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-slide">
                                <div>
                                    <img src="@item.BannerImage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

</div>
<!-- Slider Area End Here -->
</html>