@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "AboutIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <div class="col-12 mt-5">
            <div class="section-title">
                <h3 class="heading">Hakkımızda</h3>
            </div>
        </div>
        <!-- Begin Banner With Text Area -->
        @foreach (var item in Model)
        {
            <div class="main-content_area mb-5 mt-5">
                <div class="banner-with_text overflow-hidden">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col">
                                <div class="text-area">
                                    <h2 class="heading">@item.AboutTitle</h2>
                                    <p class="short-desc pearl-text_color">@item.AboutComment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>