
@{
    ViewData["Title"] = "AboutIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <div class="col-12 mt-5">
            <div class="section-title">
                <h3 class="heading">ÖZPA KOZMETİK</h3>
            </div>
        </div>
        <!-- Begin Banner With Text Area -->
        <div class="main-content_area mb-5 mt-5">
            <div class="banner-with_text overflow-hidden">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col">
                            <div class="text-area">
                                <p class="short-desc  text-center">
                                    <b>Özpa Kozmetik</b> 1994 yılında kozmetik sektöründe faaliyete başlayan 25 yılı aşan kurumsal ticari geleneğe
                                    sahip bir firmadır. Özpa başlangıçta toptan kozmetik alim, satım ve dağıtım olan faaliyetlerini bugün üretime
                                    odaklı olarak sürdürmektedir.<b> Özpa</b>'nın ticari markası <b>Riposte</b> Parfüm genis bir ürün gamına sahiptir.
                                    Bu ürünler parfüm dünyasında tüketicinin tanıdığı ve tercih ettiği ürünlerdir.<br><br>
                                    <b>Riposte</b> Markası ile yurt dışı pazarlara distirübütörlerimiz aracılığı ile ulaşmış durumdayız. İstanbul merkezli olan firmamız
                                    organize sanayi bölgesinde son sistem makinalarla ve sürekli gelişme kabiliyetine sahip bir tesis kurmuştur.
                                    Fabrikamız ile üretim ve ürün kalitesini ve kapasitesini ileri bir noktaya taşımıştır. Güvenilirlik ve
                                    <b>"kazan, kazandır" </b>ilkesi ile hareket eden<br>
                                    <b>Özpa Kozmetik</b> Türkiye ve yurt dışında oluşmuş perakendeci
                                    müşterilerine, Türkiye ve Dünya parfüm sektörüne değer sunmaktadır. Ozpa ve paydaşı olan perakendeci
                                    müşterilerimizle tüketicinin güvenini ve beğenisini arttırmayı, müşteri memnuniyeti sağlayarak büyümeyi sürdüreceğiz.<br><br>
                                    <b>Ozpa Kozmetik Teks. Ins. San. ve Dış Tic. Ltd. Sti.</b><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>