@model IEnumerable<EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "ProductDetailsIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!doctype html>
<html class="no-js" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <!-- Begin Main Content Area -->
        <div class="main-content_area">
            <div class="banner-with_text banner-with_text-2 overflow-hidden pt-160 mb-5">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- Begin Banner With Text Area -->
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-6 custom-xxs-col">
                                <div class="sp-img_area">
                                    <div class="single-slide red zoom">
                                        <img src="@item.ProductImage" alt="Quicky's Product Image">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4 col-6 custom-xxs-col">
                                    <div class="banner-item">
                                        <div class="banner-img">
                                            <a>
                                                <img src="@item.ProductImage" alt="Quicky's Banner">
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-lg-6">
                                <div class="text-area pt-md-155">
                                    <h2 class="heading">@item.ProductName</h2>
                                    <p class="short-desc pearl-text">@item.ProductComment</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Banner With Text Area End Here -->
        </div>
        <!-- Main Content Area End Here -->
    </div>
</body>

</html>
