@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "ACategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategoriler</h1>
<br />
<a href="CategoryAdd" class="btn btn-primary">Yeni Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Kategori ad</th>
        <th>Kategori Resim</th>
        <th>Seri Resim</th>
        <th>Seri Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
            <td>
                <a>
                    <img src="@item.CategoryImage">
                </a>
            </td>
            <td>
                <a>
                    <img src="@item.CategorySeriesImage">
                </a>
            </td>
            <td>@item.CategorySeries</td>
            <td><a href="/AdminCategory/EditCategory/@item.CategoryId" class="btn btn-success">Düzenle</a></td>
            <td><a href="/AdminCategory/Delete/@item.CategoryId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>