
<header class="main-header_area">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main-header_nav position-relative">
                        <div class="header-logo_area">
                            <a href="/Home/HomeIndex">
                                <img src="~/web/quicky/assets/images/menu/logo/logo.jpg" alt="Header Logo">
                            </a>
                        </div>
                        <div class="main-menu_area d-none d-lg-block col-lg-auto">
                            <nav class="main-nav d-flex justify-content-center">
                                <ul>
                                    <li class="dropdown-holder">
                                        <a href="/Brand/BrandIndex">Markalar</a>
                                    </li>
                                    <li class="dropdown-holder">
                                        <a href="/ProductList/ProductListIndex">Ürünler</a>
                                    </li>
                                    <li class="dropdown-holder">
                                        <a href="/News/NewsIndex">Haber & Duyurular</a>
                                    </li>
                                    <li class="dropdown-holder">
                                        <a href="/About/AboutIndex">Hakkımızda</a>
                                    </li>
                                    <li class="dropdown-holder">
                                        <a href="/Contact/ContactIndex">İletişim</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-right_area col-lg-auto">
                            <ul>
                                <li class="mobile-menu_wrap d-inline-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                        <i class="zmdi zmdi-menu"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#searchBar" class="search-btn toolbar-btn">
                                        <i class="zmdi zmdi-search"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="search-btn toolbar-btn">
                                        <i class="zmdi zmdi-google-earth"></i>
                                    </a>
                                    <ul class="quicky-dropdown quicky-submenu">
                                        <li>
                                            <a href="#" onclick="doGTranslate('tr|tr');return false;" title="Turkish">Türkçe</a>
                                            <a href="#" onclick="doGTranslate('tr|en');return false;" title="English">İngilizce</a>
                                            <a href="#" onclick="doGTranslate('tr|de');return false;" title="German">Almanca</a>
                                            <a href="#" onclick="doGTranslate('tr|ru');return false;" title="Russian">Rusça</a>
                                        </li>
                                    </ul>
                                    <style type="text/css">
                                        <!--
                                        a.gflag {
                                            vertical-align: middle;
                                            font-size: 22px;
                                            padding: 1px 0;
                                            background-repeat: no-repeat;
                                            background-image: url(//gtranslate.net/flags/32.png);
                                        }

                                            a.gflag img {
                                                margin-bottom: 40px;
                                                border: 0;
                                            }

                                            a.gflag:hover {
                                                background-image: url(//gtranslate.net/flags/32a.png);
                                            }

                                        #goog-gt-tt {
                                            display: none !important;
                                        }

                                        .goog-te-banner-frame {
                                            display: none !important;
                                        }

                                        .goog-te-menu-value:hover {
                                            text-decoration: none !important;
                                        }

                                        body {
                                            top: 0 !important;
                                        }

                                        #google_translate_element2 {
                                            display: none !important;
                                        }
                                        -->
                                    </style>

                                    <div id="google_translate_element2"></div>
                                    <script type="text/javascript">
                                        function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'tr', autoDisplay: false }, 'google_translate_element2'); }
                                    </script>
                                    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


                                    <script type="text/javascript">
                                        /* <![CDATA[ */
                                        eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        /* ]]> */
                                    </script>
                                </li>
                                <li>
                                    <a href="~/web/quicky/assets/images/ui-icon/katalog_tr.pdf" class="button" target="_blank">
                                        <img src="~/web/quicky/assets/images/ui-icon/ozpadow.png" style="width: 24px; height: 24px" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tel -->
        <div class="mobile-menu_wrapper" id="mobileMenu">
            <div class="offcanvas-menu-inner">
                <div class="container">
                    <a href="#" class="btn-close white-close_btn"><i class="zmdi zmdi-close"></i></a>
                    <div class="offcanvas-inner_logo">
                        <a href="index.html">
                            <img src="assets/images/menu/logo/1.png" alt="Header Logo">
                        </a>
                    </div>
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children active">
                                <a href="#">
                                    <span class="mm-text">Home</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index.html">
                                            <span class="mm-text">Home One</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">
                                            <span class="mm-text">Home Two</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-3.html">
                                            <span class="mm-text">Home Three</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-4.html">
                                            <span class="mm-text">Home Four</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-5.html">
                                            <span class="mm-text">Home Five</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-6.html">
                                            <span class="mm-text">Home Six</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Shop</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Grid View</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="shop-fullwidth.html">
                                                    <span class="mm-text">Grid Fullwidth</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <span class="mm-text">Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar.html">
                                                    <span class="mm-text">Right Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Shop List</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="shop-list-fullwidth.html">
                                                    <span class="mm-text">Full Width</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-list-left-sidebar.html">
                                                    <span class="mm-text">Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-list-right-sidebar.html">
                                                    <span class="mm-text">Right Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Single Product Style</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="single-product-gallery-left.html">
                                                    <span class="mm-text">Gallery Left</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-gallery-right.html">
                                                    <span class="mm-text">Gallery Right</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-tab-style-left.html">
                                                    <span class="mm-text">Tab Style Left</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-tab-style-right.html">
                                                    <span class="mm-text">Tab Style Right</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-sticky-left.html">
                                                    <span class="mm-text">Sticky Left</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-sticky-right.html">
                                                    <span class="mm-text">Sticky Right</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Single Product Type</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="single-product.html">
                                                    <span class="mm-text">Single Product</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-sale.html">
                                                    <span class="mm-text">Single Product Sale</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-group.html">
                                                    <span class="mm-text">Single Product Group</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-variable.html">
                                                    <span class="mm-text">Single Product Variable</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-affiliate.html">
                                                    <span class="mm-text">Single Product Affiliate</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-slider.html">
                                                    <span class="mm-text">Single Product Slider</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Blog</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children has-children">
                                        <a href="blog-left-sidebar.html">
                                            <span class="mm-text">Grid View</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children has-children">
                                        <a href="blog-list-left-sidebar.html">
                                            <span class="mm-text">List View</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children has-children">
                                        <a href="blog-details.html">
                                            <span class="mm-text">Blog Details</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Pages</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="my-account.html">
                                            <span class="mm-text">About Us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="my-account.html">
                                            <span class="mm-text">Contact</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="my-account.html">
                                            <span class="mm-text">My Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">
                                            <span class="mm-text">Login | Register</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">
                                            <span class="mm-text">Wishlist</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html">
                                            <span class="mm-text">Cart</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">
                                            <span class="mm-text">Checkout</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="compare.html">
                                            <span class="mm-text">Compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="faq.html">
                                            <span class="mm-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="error-404.html">
                                            <span class="mm-text">Error 404</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <nav class="offcanvas-navigation user-setting_area">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children active">
                                <a href="#">
                                    <span class="mm-text">
                                        User
                                        Setting
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="my-account.html">
                                            <span class="mm-text">My Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">
                                            <span class="mm-text">Login | Register</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#"><span class="mm-text">Currency</span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">EUR €</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">USD $</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#"><span class="mm-text">Language</span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">Français</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">Romanian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="mm-text">Japanese</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--Tel -->


</header>