<div class="footer-area">
    <div class="footer-top_area bg-buttery-white">
        <div class="container">
            <div class="row">
                <div class="social-link text-center">
                    <ul>
                        <li>
                            <div class="footer-widgets_area">
                                <div class="logo-area">
                                    <img src="~/web/quicky/assets/images/menu/logo/logo.jpg" alt="Quicky's Logo">
                                </div>
                            </div>
                        </li>
                        <li class="facebook">
                            <a href="https://www.facebook.com">
                                <i class="icon-social-facebook">/Facebook</i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com">
                                <i class="icon-social-twitter">/Twitter</i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="https://twitter.com">
                                <i class="icon-social-youtube">/Youtube</i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/">
                                <i class="icon-social-instagram">/İnstagram</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="copyright">
            <span>
                Copyright &copy; 2022 Tüm hakları saklıdır.
            </span>
        </div>
    </div>
</div>