<div class="footer-area">
    <div class="footer-top_area bg-buttery-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widgets_area">
                        <div class="logo-area">
                            <a href="/">
                                <img src="~/WEB/quicky/assets/images/menu/logo/ozpaa.png" alt="Quicky's Logo">
                            </a>
                        </div>
                        <p class="short-desc">
                            Since 1994
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="footer-widgets_area">
                        <h3 class="heading">Daha Fazlası</h3>
                        <div class="footer-widgets">
                            <ul>
                                <li class="dropdown-holder">
                                    <a href="/Brand/BrandIndex">Markalar</a>
                                </li>
                                <li class="dropdown-holder">
                                    <a href="/ProductList/ProductListIndex">Ürünler</a>
                                </li>
                                <li class="dropdown-holder">
                                    <a href="/News/NewsIndex">Haber & Duyurular</a>
                                </li>
                                <li class="dropdown-holder">
                                    <a href="/About/AboutIndex">Hakkımızda</a>
                                </li>
                                <li class="dropdown-holder">
                                    <a href="/Contact/ContactIndex">İletişim</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="footer-widgets_area">
                        <h3 class="heading"><i class="icon-social-instagram">   İnstagram</i></h3>
                        <div class="footer-widgets">
                            <ul>
                                <li><a href="https://instagram.com/ozpacosmetics?igshid=YmMyMTA2M2Y=">Özpa Kozmetik</a></li>
                                <li><a href="https://instagram.com/riposteparfum?igshid=YmMyMTA2M2Y=">Riposte</a></li>
                                <li><a href="https://instagram.com/majestichomefragrance?igshid=YmMyMTA2M2Y=">Majestic</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="footer-widgets_area">
                        <h3 class="heading"><i class="icon-social-facebook">   Facebook</i></h3>
                        <div class="footer-widgets">
                            <ul>
                                <li><a href="https://www.facebook.com/ozpakozmetik/">Özpa Kozmetik</a></li>
                                <li><a href="https://tr-tr.facebook.com/riposteparfum/">Riposte</a></li>
                                <li><a href="https://tr-tr.facebook.com/people/Majestic-Home-Fragrance/100063617201547/">Majestic</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="copyright">
                        <span>
                            Copyright &copy; 2020
                        </span>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="payment">
                        <img src="assets/images/footer/payment/1.png" alt="Quciky's's Payment Method">
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>