@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Parentid</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryParentId</td>
        </tr>
    }
</table>
