
@{
    ViewData["Title"] = "NewsIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <!-- Begin Main Content Area -->
        <div class="main-content_area">
            <!-- Begin Quicky's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <h2>Other</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Quicky's Breadcrumb Area End Here -->
            <!-- Begin Banner With Text Area -->
            <div class="banner-with_text overflow-hidden pt-160">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-area">
                                <span>The Habitat Method</span>
                                <h2 class="heading">We help you make your transition to your new life in a stress-free way</h2>
                                <p class="short-desc pearl-text_color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                                <p class="short-desc pearl-text_color pb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-area pt-md-90">
                                <img class="w-100" src="~/web/quicky/assets/images/about-us/1.jpg" alt="Quicky's Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner With Text Area End Here -->
            <!-- Begin Banner With Text Area -->
            <div class="banner-with_text banner-with_text-2 overflow-hidden pt-160 mb-5">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-area">
                                <img class="w-100" src="~/web/quicky/assets/images/about-us/2.jpg" alt="Quicky's Banner">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-area pt-md-155">
                                <span>Our values</span>
                                <h2 class="heading-2">Transparency</h2>
                                <p class="short-desc-2 pearl-text_color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto laborum cum accusantium placeat maxime modi. Quos officiis doloremque amet.</p>
                                <h2 class="heading-2">Accessibility</h2>
                                <p class="short-desc-2 pearl-text_color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto laborum cum accusantium placeat maxime modi. Quos officiis doloremque amet.</p>
                                <h2 class="heading-2">Focus on the future</h2>
                                <p class="short-desc-2 pearl-text_color pb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto laborum cum accusantium placeat maxime modi. Quos officiis doloremque amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner With Text Area End Here -->
        </div>
        <!-- Main Content Area End Here -->
    </div>
</body>