
@{
    ViewData["Title"] = "ProductIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body class="template-color-5 font-family-02">
    <div class="main-wrapper wrapper-boxed_layout">
        <!-- Begin Main Content Area -->
        <div class="main-content_area">
            <!-- Begin Quicky's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">                       
                    </div>
                </div>
            </div>
            <!-- Quicky's Breadcrumb Area End Here -->
         
            <!-- Begin Banner With Text Area -->
            <div class="banner-with_text banner-with_text-2 overflow-hidden pt-160 mb-5">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-area">
                                <img class="w-100" src="~/web/quicky/assets/images/about-us/2.jpg" alt="Quicky's Banner">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-area pt-md-155">
                                <h2 class="heading">We help you make your transition to your new life in a stress-free way</h2>
                                <p class="short-desc pearl-text_color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                                <p class="short-desc pearl-text_color pb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner With Text Area End Here -->
        </div>
        <!-- Main Content Area End Here -->
    </div>
</body>