@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "AProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ürünler</h1>
<p>350x300</p>
<br />
<a href="ProductAdd" class="btn btn-primary">Yeni Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün ad</th>
        <th>Ürün resim</th>
        <th>Ürün trend</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>
                <a>
                    <img src="@item.ProductImage">
                </a>
            </td>
            <td>@item.ProductTrend</td>
            <td><a href="/AdminProduct/EditProduct/@item.ProductId" class="btn btn-success">Düzenle</a></td>
            <td><a href="/AdminProduct/Delete/@item.ProductId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>